/* Reset básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #7d26c4;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

.name-section, .main-content {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #500974;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.name-section input {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.name-section button {
    padding: 10px 20px;
    background-color: #4f0a62;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.name-section button:hover {
    background-color: #490c53;
}

.name-display {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.info {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4d077b;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #460663;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4f0f7a;
    color: white;
    margin-top: 20px;
}
